<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taco cloud</title>
</head>
<body>
    <h1>Welcome to Harrys taco cloud</h1>
    <img th:src="@{/images/Food-Taco-Cloud-Style-Graphics-9428700-2-580x387.png}" alt="Image"/>
   <main>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet culpa at, a blanditiis repellat quibusdam, earum adipisci corporis illum eos, sunt corrupti deleniti ad placeat sequi non beatae hic animi?</p>

   </main>
</body>
</html>